<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Importadora Larrain | Tienda</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body class="fondo">
    <!--NAVBAR-->
    <nav class="navbar navbar-expand-lg navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand">
        <img src="{% static 'img/larrain.gif' %}" alt="" width="40" height="40" class="d-inline-block align-text-center">
        IMPORTADORA LARRAIN
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        <span></span>
        <span></span>
        <span></span>
        </button>
        <div class="collapse navbar-collapse justify-content-between" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
            <li class="nav-item">
            <a class="nav-link" aria-current="page" href="index.html">TIENDA</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="#troquelado">OFERTAS</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="#gallery">DESTACADOS</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="#packaging">POPULARES</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="pedidos.html">PEDIDOS</a>
            </li>
        </ul>
        <ul class="navbar-nav ms-auto">
            <button class="btn btn-outline-success me-2" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal">INICIAR SESIÓN</button>
        </ul>
        </div>
    <!--LOGIN--> 
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Inicio de sesión</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <form action="" method="POST">
                    <div class="row">
                        <div class="col-md-">
                            <div class="mb-3">
                              <label for="exampleFormControlInput1" class="form-label espacio4">Correo Electrónico</label>
                              <input type="email" class="form-control" id="exampleFormControlInput1" name="Correo" placeholder="" required> 
                            </div>
                            <div class="mb-3">
                                <label for="exampleFormControlInput1" class="form-label">Contraseña</label>
                                <input type="password" class="form-control" id="exampleFormControlInput1" name="Contraseña" placeholder="" required>
                                <a class="" href="restablecer.html">¿Olvidaste la contraseña?</a>
                            </div>         
                            <a href="index2.html"><button type="button" class="btn btn-secondary" >Ingresar</button></a>
                            <a href="registro.html"><button type="button" class="btn btn-primary">Crear cuenta</button></a>
                        </div>
                    </div>                   
                  </form>
                </div>
              </div>
            </div>
          </div>
    </div>
    </nav>
    <!--BUSQUEDA Y CATEGORIAS-->
    <header class="page-header gradient espacio2" id="header">
      <div class="container pt-3 fondoblanco">
        <ul class="nav justify-content-center espacio3">
          <form class="d-flex">
            <input class="form-control me-2" type="search" placeholder="Búsqueda" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Buscar</button>
          </form>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Categorias
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>
        </ul>
    <!--PRODUCTOS-->
      <!--PRIMERA FILA-->      
        <div class="row row-cols-1 row-cols-md-3 g-4 espacio">
          <div class="col">
            <div class="card h-100">
              <img src="{% static 'img/audifonos.jpg' %}" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Sony WF-1000XM3</h5>
                <p class="card-text">La tecnología noise cancelling avanzada con un sonido de alta calidad, funciones de audio inteligentes, 
                  conectividad Bluetooth® y NFC, una duración de batería para todo el día y comodidad para largas reproducciones</p>
              </div>
              <div class="centrar">
              <a href=""><button class="btn btn-outline-success me-2 espacio3" type="button">Comprar</button></a>
              </div>
              <div class="card-footer">
                <small class="text-muted">ID 210456</small>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card h-100">
              <img src="{% static 'img/audifonos.jpg' %}" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Sony WF-1000XM3</h5>
                <p class="card-text">La tecnología noise cancelling avanzada con un sonido de alta calidad, funciones de audio inteligentes, 
                  conectividad Bluetooth® y NFC, una duración de batería para todo el día y comodidad para largas reproducciones</p>
              </div>
              <div class="centrar">
              <a href=""><button class="btn btn-outline-success me-2 espacio3" type="button">Comprar</button></a>
              </div>
              <div class="card-footer">
                <small class="text-muted">ID 210456</small>
              </div>
          </div>
        </div>
          <div class="col">
            <div class="card h-100">
              <img src="{% static 'img/audifonos.jpg' %}" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Sony WF-1000XM3</h5>
                <p class="card-text">La tecnología noise cancelling avanzada con un sonido de alta calidad, funciones de audio inteligentes, 
                  conectividad Bluetooth® y NFC, una duración de batería para todo el día y comodidad para largas reproducciones</p>
              </div>
              <div class="centrar">
              <a href=""><button class="btn btn-outline-success me-2 espacio3" type="button">Comprar</button></a>
              </div>
              <div class="card-footer">
                <small class="text-muted">ID 210456</small>
              </div>
          </div>
        </div>
      </div>
      <!--SEGUNDA FILA-->      
      <div class="row row-cols-1 row-cols-md-3 g-4 espacio">
        <div class="col">
          <div class="card h-100">
            <img src="{% static 'img/audifonos.jpg' %}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Sony WF-1000XM3</h5>
              <p class="card-text">La tecnología noise cancelling avanzada con un sonido de alta calidad, funciones de audio inteligentes, 
                conectividad Bluetooth® y NFC, una duración de batería para todo el día y comodidad para largas reproducciones</p>
            </div>
            <div class="centrar">
            <a href=""><button class="btn btn-outline-success me-2 espacio3" type="button">Comprar</button></a>
            </div>
            <div class="card-footer">
              <small class="text-muted">ID 210456</small>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100">
            <img src="{% static 'img/audifonos.jpg' %}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Sony WF-1000XM3</h5>
              <p class="card-text">La tecnología noise cancelling avanzada con un sonido de alta calidad, funciones de audio inteligentes, 
                conectividad Bluetooth® y NFC, una duración de batería para todo el día y comodidad para largas reproducciones</p>
            </div>
            <div class="centrar">
            <a href=""><button class="btn btn-outline-success me-2 espacio3" type="button">Comprar</button></a>
            </div>
            <div class="card-footer">
              <small class="text-muted">ID 210456</small>
            </div>
        </div>
      </div>
        <div class="col">
          <div class="card h-100">
            <img src="{% static 'img/audifonos.jpg' %}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Sony WF-1000XM3</h5>
              <p class="card-text">La tecnología noise cancelling avanzada con un sonido de alta calidad, funciones de audio inteligentes, 
                conectividad Bluetooth® y NFC, una duración de batería para todo el día y comodidad para largas reproducciones</p>
            </div>
            <div class="centrar">
            <a href=""><button class="btn btn-outline-success me-2 espacio3" type="button">Comprar</button></a>
            </div>
            <div class="card-footer">
              <small class="text-muted">ID 210456</small>
            </div>
        </div>
      </div>
    </div>
      <!--TERCERA FILA-->      
      <div class="row row-cols-1 row-cols-md-3 g-4 espacio">
        <div class="col">
          <div class="card h-100">
            <img src="{% static 'img/audifonos.jpg' %}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Sony WF-1000XM3</h5>
              <p class="card-text">La tecnología noise cancelling avanzada con un sonido de alta calidad, funciones de audio inteligentes, 
                conectividad Bluetooth® y NFC, una duración de batería para todo el día y comodidad para largas reproducciones</p>
            </div>
            <div class="centrar">
            <a href=""><button class="btn btn-outline-success me-2 espacio3" type="button">Comprar</button></a>
            </div>
            <div class="card-footer">
              <small class="text-muted">ID 210456</small>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100">
            <img src="{% static 'img/audifonos.jpg' %}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Sony WF-1000XM3</h5>
              <p class="card-text">La tecnología noise cancelling avanzada con un sonido de alta calidad, funciones de audio inteligentes, 
                conectividad Bluetooth® y NFC, una duración de batería para todo el día y comodidad para largas reproducciones</p>
            </div>
            <div class="centrar">
            <a href=""><button class="btn btn-outline-success me-2 espacio3" type="button">Comprar</button></a>
            </div>
            <div class="card-footer">
              <small class="text-muted">ID 210456</small>
            </div>
        </div>
      </div>
        <div class="col">
          <div class="card h-100">
            <img src="{% static 'img/audifonos.jpg' %}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Sony WF-1000XM3</h5>
              <p class="card-text">La tecnología noise cancelling avanzada con un sonido de alta calidad, funciones de audio inteligentes, 
                conectividad Bluetooth® y NFC, una duración de batería para todo el día y comodidad para largas reproducciones</p>
            </div>
            <div class="centrar">
            <a href=""><button class="btn btn-outline-success me-2 espacio3" type="button">Comprar</button></a>
            </div>
            <div class="card-footer">
              <small class="text-muted">ID 210456</small>
            </div>
        </div>
      </div>
    </header> 
    <script src="{% static 'js/bootstrap.min.js' %}"></script> 
</body>
</html>
