@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

/*NAVBAR*/

.azul{
    color:blue
}

.blanco{
    color: white;
}

.negro{
    color: black;
}

.fondoblanco{
    background-color: white;
}

html,body{
    height: 100%;
    font-size: 1rem;
    font-family: 'Poppins';
}

.fondo{
    background-image: url(../img/fondo.png);
}

.espacio_form{
    margin-bottom: 0.5rem;
}

.espacio{
    margin-bottom: 3rem;
}

.espacio2{
    margin-top: 3rem;
}

.espacio3{
    margin-bottom: 1rem;
}

.espacio4{
    margin-top: 1rem;
}

.centrar{
    margin-left: auto;
    margin-right: auto;
}